extends layout

block content
	.row
		// Personal Information
		.col.s12.m12.l12
			.card				
				.card-content
					.row						
							#modal1.modal
								.modal-content
									h5.center Change profile's image
									img(src='customers/#{customer.pictureUrl}' alt='#{customer.personalInformation.name}' class='circle profile-img')
									.center
										form(method="post" action="/customer/profileImage" enctype="multipart/form-data" required) 
											input(type="file" name="newImage" accept="image/*") 
											br
											button.blue-color.modal-action.modal-close.waves-effect.waves-green.btn-flat Ok
											a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#!') Cancel
					.row
						.col.s12.m12.l4
							img(src='/customers/#{customer.pictureUrl}' alt='#{customer.personalInformation.name}' class='circle profile-img center')
							div.center
								a.modal-trigger(href='#modal1') Edit image
						.col.s12.m12.l8
							span.card-title.black-text= customer.personalInformation.name
							p 
								b Phone
							p= customer.personalInformation.phone
							p 
								b About you
							p= customer.about
							p
								b Aditional Email
							p= customer.personalInformation.email
				.card-action
					a(href='/customer/edit') Edit your profile

		// Products list
		.col.s12.m12.l6
			h5 My Cart
			p #{customer.products.length} product(s) in the cart
			- var cartTotal = 0
			each product in customer.products				
				.card
					.col.s12.m3.l3
						.card-image.product-image.center
							img(src='/products/#{product.pictureUrl}')
					.col.s12.m6.l6
						.card-content
							span.card-title.activator.black-text= product.title						
							h5 US$ #{product.price * product.quantity}
							p #{product.quantity} Available
															
					.card-action
						form(name='delete' method='post' action='/customer/product/#{product._id}/delete')
							button.blue-color.modal-action.modal-close.waves-effect.waves-green.btn-flat Remove from cart						
				- cartTotal += product.price * product.quantity
			h5 Total: US$ #{cartTotal}
									
	script.
		 $(document).ready(function(){
		    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
		    $('.modal-trigger').leanModal();
		  });